@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600&display=swap');

button {
    margin-right: -10px;
    padding: 13px 20px;
    background-color: #FEDF2D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

.banner {
    width: 100%;
    height: 70vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0636679a;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content {
    text-align: center;
}

.content h1 {
    font-family: Nunito Sans;
    font-size: 48px;
    font-weight: bolder;
    color: #FFFFFF;
    z-index: 1;
}

.content p {
    font-family: Nunito Sans;
    font-size: 16px;
    color: #FAFAFA;
    z-index: 1;
    margin-top: -20px;
}

.title h2{
    margin-top: 80px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 38px;
    z-index: 1;
}

.container-grd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.container-grd .box{
    position: relative;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
}

label{
	font-size: 12pt;
	font-family: Nunito Sans;
	font-weight: 700;
}
 
.form_book{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 12pt;
	margin-bottom: 20px;
	font-family: Nunito Sans;
}

.layanan{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 12pt;
	margin-bottom: 20px;
	font-family: Nunito Sans;
}

.area{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 12pt;
	margin-bottom: 20px;
	font-family: Nunito Sans;
}

.form_bookadd{
	box-sizing : border-box;
	width: 100%;
	padding: 55px;
	font-size: 12pt;
	margin-bottom: 20px;
	font-family: Nunito Sans;
}

.fa-angle-down{
    content: f107;
}

.button_book{
    margin-left: 470px;
    background: #FEDF2D;
    padding: 20px 45px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: #000000;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
}

.show {
    display: block;
}