@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600&display=swap');

button {
    margin-right: -10px;
    padding: 13px 20px;
    background-color: #FEDF2D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

.banner {
    width: 100%;
    height: 70vh;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.banner::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0636679a;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content {
    text-align: center;
}

.content h1 {
    font-family: Nunito Sans;
    font-size: 48px;
    font-weight: bolder;
    color: #FFFFFF;
    z-index: 1;
}

.content p {
    font-family: Nunito Sans;
    font-size: 16px;
    color: #FAFAFA;
    z-index: 1;
    margin-top: -20px;
}

.container-grd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 100px;
}
.container-grd .box{
    position: relative;
    width: 280px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 80px;
}

.container-grd .box .bx{
    position: center;
    justify-content: center;
    height: 120px;
    margin-left: 90px;
}

.container-grd .box h3{
    margin-top: 20px;
    margin-left: 25px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 22px;
	color: #063667; 
}

.container-grd .box p{
    margin-top: -10px;
    margin-left: 30px;
    text-align: center;
    font-family: Nunito Sans;
    font-weight: normal;
    font-size: 16px;
}

.foto-map iframe{
    margin-top: 80px;
}

.show {
    display: block;
}